/*
NOTES:
- * => reset with universal selector
- rem units use the (html) root font-size as a reference (eg. n rem => n x 10px of root font-size)
- BEM (Block Element Modifier) methodology used with Sass
- Responsive Design with FLOAT LAYOUTS (and litle bit of FLEXBOX); Bootstrap Grid System was not used in this project.
*/

/** Importing partial sass files
***********************************************/
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/icon";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/card";
@import "components/featured";

@import "layout/grid";
@import "layout/header";

@import "pages/home";
 
/** Media Queries (max-width - Desktop-first)
***********************************************/
// Desktop-first - is width <= 760px? (in min-width/mobile-first approach - is width >= 760px?)
// breakpoints: 0-600px, 900px, 1200px, ...

// media query mixins
// respond-phone {
//   font-size: 50%;
// }

/*
@media screen and (max-width: 760px) { 
  h1.heading-primary {
    .heading-primary--sub {
      font-size: 3.4rem;
      line-height: 4.2rem;
    }
  }
  .section-about {
    // padding-bottom: 8rem;

    .row {
      .profile {
        height: 25rem;
        // top: -8rem; // this results in equal margin between elems in mobile view
      }
    }
    .container {
      padding-left: 4rem;
      padding-right: 4rem;

      .col-left {
        padding-right: 0;
        width: 100%;
      }
      .col-right {
        width: 100%;
        padding-left: 0;
        padding-top: 2rem;
      }
    }
  }
  // work section

  .section-work {
    padding-top: 4rem;

    .row {
      .wrapper {
        padding-bottom: 4rem;

        h3.heading-secondary {
          width: 100%;
          margin-right: 0;
        }
        a.btn {
          margin-top: 2rem;
        }
      }
    }

    .u-width-10 {
      width: 100%;
    }
  }
}
*/


// Tablet breakpoints (portrait)



// Tablet breakpoints (Landscape)


// Desktop breakpoints (laptops, PCs, Macs)
