

/** Featured projects
***********************************************/
.card {
  height: 38rem;
  font: 2rem;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden; 
  border-radius: 0.1rem;
  transition: transform 200ms linear;
  
  // .card-1 & .card-2
  &-1 {
    border: 1px solid #9E7D76;
    background-color: #eeeee5;
  }
  &-2 {
    border: 1px solid #8e9eab;
    background-color: #f3f5f6;
  }
  &:hover {
    cursor: pointer;
    transform: translateY(-1.5rem) scale(1.02);
  }
  // .card__picture
  &__picture {
    height: 23rem;
    // create transparent Background
    background-size: cover;
    background-position: top; // [center, bottom]
    filter: opacity(.5);
    
    &--1 {
      background-image: linear-gradient(to right bottom, rgba(183, 152, 145, 0.808), rgba(148, 113, 107, 0.082)), url(../img/foodspot.png);
    }
    &--2 {
      background-image: linear-gradient(to right bottom, rgba(238, 242, 243, 0.808), rgba(142, 158, 171, 0.082)), url(../img/foodspot.png);
    }
  }
  // .card__brand
  &__brand {
    background-size: cover;
    position: relative;
    padding-top: 5.5rem;
    text-align: center;

    &--logo {
      background-color: $color-primary-grey-dark;
      padding: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 100%;
      position: absolute;
      top: -4rem;
      left: calc(50% - 4rem);
      z-index: 2;
    }
    &--name {
      color: $color-primary-grey-dark;
      margin-bottom: 4rem; // between the text and the btn
      line-height: 1.4;

      p {
        span:first-child {
          font-size: 2.8rem;
          margin: 0 0 0.8rem;
        }
        span.heading-primary--title {
          font-size: 1.3rem;
          margin: 0;
        }
      }
    }
  }
}

// 1. hides elems until scrolled into
.section-work {
  .col-1-of-2 {
    .hide {
      opacity: 0;
    }
  }
}
// 2. presents animation (after .hide is dynamically removed)
.card-slidein {
    opacity: 0; // style to be set before animation starts (opacity = 1 after)
    animation: featuredprojects 1s ease-in-out 0.1s forwards; 
    // [animation-fill-mode: forwards] makes sure elem retains the style values from the last @keyframe when the animation ends (opacity = 1)
}