

/** Featured projects
***********************************************/
.card {
  // FUNCTIONALITY
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 38rem;
  
  &__side {
    height: 38rem;
    transition: all 0.8s ease;
    color: white;
    font: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.1rem;
    // box-shadow: 0 1.5rem 4rem $shandow-grey;
    overflow: hidden; 

    &--front {

      &-1 {
        border: 1px solid #9E7D76;
        background-color: #eeeee5;
      }
      &-2 {
        border: 1px solid #8e9eab;
        background-color: #f3f5f6;
      }
    }
    &--back {
      // before we hover the card, flip the backside 180*
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, #b79891, #94716b);
        position: relative;

        .card__cta {
          position: absolute;
          // mixin to center btn vertically and horizontally
          @include center_XY_axis();  
        }
      }
      &-2 {
        background-image: linear-gradient(to right bottom, #eef2f3, #8e9eab);
        position: relative;

        .card__cta {
          position: absolute;
          // mixin to center btn vertically and horizontally
          @include center_XY_axis();      
        }
      }
    }
  }
  // hover card...transform card__side--front/back
  &:hover &__side--front {
    // when we hover the card frontside, flip 180*
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    // since the backside is set to 180* by default, when we hover it should go back to normal (0*)
    transform: rotateY(0deg);
  }

  // FRONT CARD STYLYING

  // .card__picture
  &__picture {
    background-size: cover;
    height: 23rem;
    // blend back side with image on the fron side
    background-blend-mode: screen;

    &--1 {
      // blend back side with image on the fron side
      background-image: linear-gradient(to right bottom, #b79891, #94716b),
        url(../img/foodspot.png);
    }
    &--2 {
      background-image: linear-gradient(to right bottom, #eef2f3, #8e9eab),
        url(../img/foodspot.png);
    }
  }
  // .card__brand
  &__brand {
    background-size: cover;
    position: relative;
    padding-top: 5.5rem;
    text-align: center;

    &--logo {
      background-color: $color-primary-grey-dark;
      padding: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 100%;
      position: absolute;
      top: -4rem;
      left: calc(50% - 4rem);
      z-index: 2;
    }

    &--name {
      color: $color-primary-grey-dark;
      margin-bottom: 4rem; // between the text and the btn
      line-height: 1.4;

      p {
        span:first-child {
          font-size: 2.8rem;
        }
        span.heading-primary--title {
          font-size: 1.3rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

// 1. hides elems until scrolled into
.section-work {
  .col-1-of-2 {
    .hide {
      opacity: 0;
    }
  }
}
// 2. presents animation (after .hide is dynamically removed)
.card-slidein {
    opacity: 0; // style to be set before animation starts (opacity = 1 after)
    animation: featuredprojects 1s ease-in-out 0.1s forwards; 
    // [animation-fill-mode: forwards] makes sure elem retains the style values from the last @keyframe when the animation ends (opacity = 1)
}