

/** Custom scrollbar
***********************************************/

/*
https://www.youtube.com/watch?v=uoAu_EqxKQY&t=108s
https://css-tricks.com/custom-scrollbars-in-awebkit/
*/

::-webkit-scrollbar { 
	/* this pseudo-element represents the scrollbar as a whole */ 
	width: 10px;
	// display: none;
}
::-webkit-scrollbar-track { 
	/* represents the scrollbar track (without the scrollbar thumb) */ 
	border-radius: 5px;
	box-shadow: inset 0 0 5px darken($color-primary-white, 50%);
}
::-webkit-scrollbar-thumb { 
	/*  represents the actually thumb */ 
	border-radius: 5px;
	background-color: darken($color-primary-white, 50%); //$color-primary-gold
}
::-webkit-scrollbar-thumb:hover { 
	/*  represents the actually thumb */ 
	background-color: darken($color-primary-white, 45%);
}