// animation mixins with an argument
@mixin arrow-right-animate($iconColor) {
  .fontawesome-icon {
    color: $iconColor;
    transform: translateX(0.3rem);
    transition: transform 250ms;
  }
}
@mixin arrow-bottom-animate($iconColor) {
  .fontawesome-icon {
    color: $iconColor;
    transform: translateY(.6rem);
    transition-duration: 250ms;
  }
}
// animation with @keyframes
@keyframes move-in-up {
  0% {
    opacity: 0;
    // display: none;
    transform: translateY(100px);
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translate(0); // to look as it looked at the beggining
  }
}

// long arrow right (animate up)
@mixin arrow-up-animate($iconColor) {
  .fontawesome-icon {
    margin-left: 0;
    color: $iconColor;
    // transform: skewY(-45deg);
    transform: rotate(-45deg);
    transition: transform 250ms;
  }
  .highlight-text {
    color: $iconColor;
    font-weight: 700;
  }
  .featured__box-1 {
    background-color: darken($color-primary-beije, 5%);
  }
  .featured__box-2  {
      background-color: darken($color-primary-babyblue, 5%);
  }
}

// reveal image in the about section
@keyframes reveal-img {
  0% {
    opacity: 0;
    width: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translate(0); // to look as it looked at the beggining
  }
}