// Social icons
.social {
  display: flex;
  flex-direction: column;
  width: calc((100% - #{$grid-width}) / 2); // .row = $grid-width
  align-items: center;
  position: fixed;
  top: calc((100vh - 135px) / 2); // 135px => 3x (.icon height + &__icon padding-top +  &__icon padding-bottom) // 3 x 45
  z-index: 25;

  // .social__icon
  &__icon {
    display: flex;
    flex-direction: column;
    padding: 10px;
    // background: $color-primary-white;
    transition: transform 0.200s linear;

		&:hover {
			// filter: contrast(100%);
			cursor: pointer;
			.icon {
				transition: transform 0.200s linear;
				transform: scale(1.1);
			}
		}
    .icon {
      padding: 0;
      margin: 0;
      width: 25px;
      height: 25px;
      stroke-width: 0;
      // stroke: $color-primary-grey-dark;
      fill: darken($color-primary-white, 50%);
      filter: contrast(100%); // icon takes 90% of its original (fill) colour
    }
  }
  
  @include respond(tab-land) { // width < 1200px
    display: none;
  }

}
