/**  Social icons
*****************************************************/
.social {
  display: flex;
  flex-direction: column;
  width: calc((100% - #{$grid-width}) / 2); // .row = $grid-width
  align-items: center;
  position: fixed;
  top: calc((100vh - 135px) / 2); // 135px => 3x (.icon height + &__icon padding-top +  &__icon padding-bottom) // 3 x 45
  z-index: 27;
  
  // .social__icon
  &__icon {
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: transform 200ms linear;

    &:hover {
      // filter: contrast(100%);
      cursor: pointer;
      .icon {
        transition: transform 200ms linear;
        transform: scale(1.1);
      }
    }
    .icon {
      padding: 0;
      margin: 0;
      width: 25px;
      height: 25px;
      stroke-width: 0;
      // stroke: $color-primary-grey-dark;
      fill: darken($color-primary-white, 50%);
      filter: contrast(100%); // icon takes 90% of its original (fill) colour
    }
  }

  @media (max-width: 730px) {
    opacity: 0; //<-------------------------------------------------------------------------------------------------------
  }
}
.whatsapp {
  width: calc((100% - #{$grid-width}) / 2); // .row = $grid-width
  top: calc((100vh - 80px)); // 70px => .icon height + icon padding-top + icon padding-bottom + icon margin-bottom) // 40+10+10+10
  right: 0;
  
  .icon {
    width: 40px;
    height: 40px;
  }
}


// tablets devices - bringing icons into view 
@media (min-width: 768px) and (max-width: 1199px) {
  .socials-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    left: 0px;
    top: calc((100vh - 135px) / 2);
  }
  .whatsapp {
    width: 76px;
    right: 0px;
    top: calc((100vh - 64px)); 
  }
}

// phones devices - hide social icons on lanscape view, show on portrait
// .social {
//   @media (max-width: 730px) and (orientation: landscape) {
//     opacity: 0;
//     // display: none;
//   }
//   // @media (max-width: 730px) and (orientation: landscape) {
//   //   display: none;
//   // }
// }

// label > checkbox:checked > make social icons visible
@media (max-width: 730px) and (orientation: portrait) {
  .navigation__checkbox:checked .social {
    opacity: 1; //<-------------------------------------------------------------------------------------------------------
  }
}
// bringing icons into view on mobile phones
@media (max-width: 767px) {
  .socials-left {
    width: 80px;
    left: 7px;
  }
  .socials-right {
    width: 80px;
    right: 7px;
  }
}