// mixin and utility classes

.u-center-text {
  text-align: center;
}

// uppercase text
.u-text-ppercase {
  text-transform: uppercase;
}

// margin-bottom
.u-margin-bottom-xsmall {
  margin-bottom: 1rem; // 10px
}
.u-margin-bottom-small {
  margin-bottom: 2rem; // 20px
}
.u-margin-bottom-medium {
  margin-bottom: 4rem; // 40px
}
.u-margin-bottom-big {
  margin-bottom: 8rem; // 80px
}

.u-text-align-left {
  text-align: left;
}

.header {
  a.btn--scroll {
    border-radius: unset;
  }
}
.section-about {
  a.btn--text {
    border-radius: unset; // removes border-radius
    padding-left: 0;
    background-color: purple;
  }
  .u-reset-padding-left {
    padding-left: 2.9rem;
  }
  .row {
    .profile {
      .btn--scroll {
        border-radius: unset;
      }
    }
  }
}
