/** (single-purpose) Utility classes
***********************************************/
.u-center-text {
  text-align: center;
}

.u-text-ppercase {
  text-transform: uppercase;
}

.u-margin-bottom-xsmall {
  margin-bottom: 1rem; // 10px
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-text-align-left {
  text-align: left;
}

.header {
  a.btn--scroll {
    border-radius: unset;
  }
}

.section-about {
  a.btn--text {
    border-radius: unset; // removes border-radius
    padding-left: 0;
  }
  .u-reset-padding-left {
    padding-left: 2.9rem;
  }
  .row {
    .profile {
      .btn--scroll {
        border-radius: unset;
      }
    }
  }
}

.u-image {
  height: 16.2rem;
  border-radius: 0.8rem 0 0 0;
  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0 0 0;
    border-top: 10px solid $color-primary-grey-dark;
    border-left: 5px solid $color-primary-grey-dark;
    border-bottom: 5px solid $color-primary-grey-dark;
  }
}

.featured-1 {
  background-color: $color-primary-beije;
}

.featured-2 {
  background-color: $color-primary-babyblue;
}

.section-footer {
  .row {
    .footer-block {
      .btn--scroll-down {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $color-primary-grey-dark;
        border-top: none;
        border-right: none;
      }
      .u-margin-right-0 {
        right: 0;
      }
    }
  }
}
// for consistency in the nav menu
.u-line-height-3 {
  line-height: 3rem;
}

// show / hide icons on phone (portrait, landscape views)
.u-opacity-0 {
  opacity: 0; 
}
.u-opacity-1 {
  opacity: 1; 
}
