

/**  Reusable styles (mixins)
*****************************************************/
@mixin u-special-text($specialColor) {
  .u-wrap-text {
    &::after {
      content: "\a";
      white-space: pre; // wraps content after this elem onto a new line
    }
  } 
}

@mixin textSpace-textSsize {
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

// clearfix
@mixin clearfix {
  // row::after { some code }
  &::after {
    content: "";
    display: table;
    clear: both; // (both float left and float right)
  }
}

// center elem vertically and horizontally
@mixin center_XY_axis {
  // position inner elem to absolute and parent elem to relative
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


// MEDIA QUERIES 
/*
Phones => 0-600px
Tablets => 600-900px
Tablets Landscape => 900-1200px
where our normal styles apply => 1200px-1800px

Big Desktops => 1800+px

$breakpoint argumnent options
- phone
- tab-port
- tab-land
- big-desktop


1em = 16px

ORDER: Base + typography > general layout, grid > page layout, components

*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // rems fail to render in some browsers, thus em's
    @media (max-width: 37.5em /*600px/16px = N em's*/) { @content }; // 600px 
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content }; // 900px 
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content }; // 1200px 
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content }; // 1800px 
  }
}