@mixin u-special-text($specialColor) {
  .u-special-text {
    color: $specialColor;
    &::after {
      content: "\a";
      white-space: pre; // wraps content after this elem onto a new line
    }
  }
}

@mixin textSpace-textSsize {
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

// clearfix
@mixin clearfix {
  // row::after { some code }
  &::after {
    content: "";
    display: table;
    clear: both; // (both float left and float right)
  }
}

// @mixin special-text($specialColor) {
//   .u-special-text {
//     color: $specialColor;
//   }
// }
