

// COLOURS
$color-primary-black: #000;
$color-primary-white: #fff;
$color-primary-gold: #A58861;
$color-primary-grey: #E6E9EC; // rgba(#E6E9EC, 0.25);
$color-primary-grey-dark: #292C30;
$color-primary-grey-light: #F3F5F6;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem; 