/*
NOTES:
- * => reset with universal selector
- rem units use the (html) root font-size as a reference (eg. n rem => n x 10px of root font-size)
- BEM (Block Element Modifier) methodology used with Sass
- Responsive Design with FLOAT LAYOUTS (and litle bit of FLEXBOX); Bootstrap Grid System was not used in this project.
*/
/** Importing partial sass files
***********************************************/
.u-special-text {
  color: #a58861; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px;
  /* 1rem = 10px(root font-size) / 16px(browser default) = 0.625 */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes move-in-down {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  80% {
    opacity: 0.8; }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Silka-SemiBold", "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #292c30;
  font-size: 1.6rem; }

h1.heading-primary {
  color: #292c30;
  margin-bottom: 4rem;
  line-height: 1.4; }
  h1.heading-primary .heading-primary--title {
    font-size: 1.3rem;
    display: block;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #bfbfbf;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    font-weight: 400; }
  h1.heading-primary .heading-primary--sub {
    font-size: 5.4rem;
    display: block;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    font-weight: 700; }
    h1.heading-primary .heading-primary--sub .u-special-text {
      color: #a58861; }
      h1.heading-primary .heading-primary--sub .u-special-text::after {
        content: "\a";
        white-space: pre; }

.heading-secondary {
  font-size: 3.4rem;
  font-size: 2.8rem;
  line-height: 4rem;
  margin-bottom: 3rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #292c30, #e6e9ec);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent; }

.section-about .container .col p {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #e6e9ec;
  opacity: 0.7;
  letter-spacing: 0.1rem; }
  .section-about .container .col p::not(:last-child) {
    margin-bottom: 3rem; }

.section-about .container .col .skills .heading-tertiary {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }

.section-about .container .col .skills p {
  font-size: 1.4rem;
  font-weight: 700; }

.u-center-text {
  text-align: center; }

.u-text-ppercase {
  text-transform: uppercase; }

.u-margin-bottom-xsmall {
  margin-bottom: 1rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-text-align-left {
  text-align: left; }

.header a.btn--scroll {
  border-radius: unset; }

.section-about a.btn--text {
  border-radius: unset;
  padding-left: 0;
  background-color: purple; }

.section-about .u-reset-padding-left {
  padding-left: 2.9rem; }

.section-about .row .profile .btn--scroll {
  border-radius: unset; }

.btn, .btn-medium {
  transition: transform 0.5s linear; }
  .btn .fontawesome-icon, .btn-medium .fontawesome-icon {
    color: gray;
    margin-left: 0.5rem; }
  .btn:link, .btn:visited, .btn-medium:link, .btn-medium:visited {
    vertical-align: middle;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.55rem 2.9rem;
    display: inline-block;
    border-radius: 3rem;
    position: relative;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    font-weight: 700; }
  .btn:hover, .btn-medium:hover {
    cursor: pointer;
    transition: transform 0.5s linear; }

.btn--black {
  background-color: #292c30;
  color: #e6e9ec; }
  .btn--black:hover .fontawesome-icon {
    color: #e6e9ec;
    transform: translateX(0.3rem);
    transition: transform 250ms; }

.btn--white {
  background-color: #fff;
  color: #292c30;
  border: 0.1rem solid rgba(41, 44, 48, 0.15); }
  .btn--white:hover .fontawesome-icon {
    color: #292c30;
    transform: translateX(0.3rem);
    transition: transform 250ms; }

.btn--text {
  color: #e6e9ec; }
  .btn--text:hover .fontawesome-icon {
    color: #e6e9ec;
    transform: translateX(0.3rem);
    transition: transform 250ms; }

.btn--scroll {
  background-color: #a58861;
  width: 8.5rem;
  height: 8.5rem;
  bottom: 4.5rem;
  z-index: 2;
  border-radius: unset; }
  .btn--scroll:link, .btn--scroll:visited {
    padding-top: 2.5rem;
    vertical-align: middle; }
  .btn--scroll:hover .fontawesome-icon {
    transform: translateY(0.3rem);
    transition: transform 250ms; }
  .btn--scroll .fontawesome-icon {
    color: #e6e9ec; }

.section-about .row .profile a.btn-medium {
  padding: 2rem 4rem; }

.row {
  border: 2px solid orange;
  max-width: 110rem;
  margin: auto; }

[class^="col"] {
  border: 1px solid green;
  text-align: center;
  width: 50%;
  float: left;
  text-align: left; }

/*
.row {
  border: 2px solid orange;
  // background-color: #eee;
  max-width: $grid-width;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
  .col-1-of-1 {
    width: 100%;
    text-align: center;
  }

  @include clearfix;

  [class^="col"] {
    background-color: orangered;
    border: 1px solid lighten($color: green, $amount: 0%);
    text-align: center;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
  // .col-1-of-2 {
  //   /* (width - horizontal gutter / 2) */
/** Header
***********************************************/
.nav {
  border: 1px solid red;
  display: flex;
  align-items: center;
  z-index: 1; }
  .nav__logo-box {
    display: inline-flex;
    padding: 0;
    margin: 0; }
    .nav__logo-box a {
      display: flex;
      margin: 0;
      padding: 0; }
  .nav__logo {
    width: 3.5rem;
    border: 1px solid green; }

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .header__heading-box {
    max-width: 110rem;
    text-align: center;
    animation-name: move-in-down;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    margin-bottom: 6rem; }

.section-about {
  background-color: #292c30;
  padding-bottom: 8rem; }
  .section-about .row::after {
    content: "";
    display: table;
    clear: both; }
  .section-about .row .profile {
    background-color: #292c30;
    float: left;
    top: -8rem;
    position: relative;
    border: 2px solid blue;
    width: 100%;
    height: 50rem; }
    .section-about .row .profile__photo {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .section-about .row .profile .btn--text {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      border: 1px solid green; }
  .section-about .container {
    margin: auto;
    padding-left: 80px;
    padding-right: 80px; }
    .section-about .container::after {
      content: "";
      display: table;
      clear: both; }
    .section-about .container .col-left {
      float: left;
      padding-right: 4rem; }
    .section-about .container .col-right {
      float: left;
      padding-top: 10rem;
      padding-left: 10rem; }
      .section-about .container .col-right .skills-1 {
        float: left;
        padding-right: 5rem;
        height: 100%;
        border: 1px solid green; }

/** Media Queries
***********************************************/
@media screen and (max-width: 760px) {
  h1.heading-primary .heading-primary--sub {
    font-size: 3.4rem;
    line-height: 4.2rem; }
  .section-about .row .profile {
    height: 25rem; }
  .section-about .container {
    padding-left: 4rem;
    padding-right: 4rem; }
    .section-about .container .col-left {
      padding-right: 0;
      width: 100%; }
    .section-about .container .col-right {
      width: 100%;
      padding-left: 0;
      padding-top: 2rem; } }
