.row {
  max-width: $grid-width;
  margin: auto;
}

[class^="col"] {
  text-align: center;
  width: 50%;
  float: left;
  text-align: left;
}

// Work section
.section-work {
  
  .row {
    @include clearfix;

    .col {
      &:not(:last-child) {
        margin-right: $gutter-horizontal;
      }
    }
    .col-1-of-2 {
      max-width: calc((100% - #{$gutter-horizontal}) / 2);
      display: inline-block;
    }
    .col-1-of-3 {
      width: calc((100% - (#{$gutter-horizontal} *2)) / 3);
    }
  }
  
} 

