

/** Header
***********************************************/
.header {
  // border: 3px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // mobile portrait
  @media (max-width: 480px) {
    height: 90vh;
  }

  &__heading-box {
    max-width: $grid-width; // variable
    text-align: center;
    opacity: 0;
    animation: move-in-up 700ms ease-in-out 1.3s forwards; // animation [name] [duration] [animation-timing-function] [delay] [animation-fill-mode]; 
    // [animation-fill-mode: forwards] makes sure elem retains the style values from the last @keyframe when the animation ends (opacity = 1)
    // animation-timing-function: ease; //https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function
    margin-bottom: 8rem;

    // Landscape  
    @media only screen and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) { 
      margin-bottom: 12rem;
    }
  }
}
