/**  Hamburguer menu
*****************************************************/
.navigation {
  // border: 3px solid red;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $color-primary-grey-dark;

  // .navigation__button - sits on top of &__background and &__nav
  &__button {
    // border: 3px solid blue;
    height: 50px;
    width: 50px;
    position: fixed;
    // top: 25px;
    // right: calc((100% - #{$grid-width}) / 2 - 100px);
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: contrast(100%); // icon takes 90% of its original (fill) colour
    z-index: 27;

    // mobile devices
    @media (max-width: 1199px) {
      top: 12.5px;
      right: 12.5px;
    }
    @media (min-width: 1200px) {
      top: 25px;
      right: calc((100% - #{$grid-width}) / 2 - 90px);
    }
    @media (min-width: 1369px) {
      right: 25px;
    }
  }
  // .navigation__background
  &__background {
    // border: 3px solid orangered;
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-primary-grey-dark;
    transition: height 650ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s; // transition [name] [duration] [animation-timing-function] [delay];
    z-index: 25;
  }
  // .navigation__checkbox
  &__checkbox {
    display: none;
    border: 2px solid greenyellow;
  }
  // .navigation__nav
  &__nav {
    // border: 3px solid purple;
    width: $grid-width; // if (viewport) width > max-width; let the browser use max-width
    margin: auto;
    height: 0vh;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    // hide menu elements
    opacity: 0;
    transition: all 650ms; // transition: opacity 800ms cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s;
    z-index: -1; // in order to not conflict with existing page animations
  }
  // .col {
  //   border: 2px solid orangered;
  // }
  .col-1 {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .col-2 {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  // .navigation__contact
  &__contact {
    // border: 2px solid green;
    list-style: none;
    margin-bottom: 0;
    padding-left: 12rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;

    .profile-picture {
      margin-top: 1.6rem;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      background: url(../img/me.jpeg) center center;
      background-size: cover;
    }
    .contact-details,
    .availability {
      margin-top: 3rem;
      text-transform: uppercase;
    }
    a {
      color: $color-primary-grey;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
      &::after {
        content: "\a";
        white-space: pre; // wraps content after this elem onto a new line
      }
    }
    p {
      color: $color-primary-grey;
    }
    .credits {
      margin-top: 3rem;
      color: $color-primary-grey-semidark;
    }
    // media queries
    @media (min-width: 1200px) {
      .profile-picture {
        margin-top: 0;
        width: 13rem;
        height: 13rem;
      }
      .credits {
        margin-top: 6rem;
      }
    }
  }
  // .navigation__list
  &__list {
    // border: 2px solid green;
    list-style: none;
    margin-bottom: 0;
    padding-right: 12rem;
  }
  &__list .active {
    color: #9e845e;
    &:hover {
      color: #9e845e;
    }
  }
  &__item {
    // border: 1px solid palevioletred;
    padding: 1.2rem 0;
    line-height: 5rem;
    display: flex;
    justify-content: flex-end;
  }
  &__link {
    // border: 3px solid green;
    font-size: 3rem;
    font-weight: 700;
    color: $color-primary-grey;

    text-decoration: none;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;

    // media queries
    @media (min-width: 1200px) {
      font-size: 4.2rem;
      line-height: 6rem;
      // font-family: 'Silka-SemiBold', sans-serif;
    }

    transition: color 0.25s linear;
    &:hover {
      cursor: pointer;
      color: $color-primary-grey-semidark;
    }
    &:active {
      color: $color-primary-gold;
    }
  }

  // FUNCTIONALITY

  // label > checkbox:checked > navigation bacground becomes visible
  &__checkbox:checked ~ &__background {
    // transform: scale(80);
    height: 100vh;
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    z-index: 26;
    height: 100vh;
  }
  
  // navigation__iCON
  &__icon {
    position: relative;
    // margin-top: 1.25rem;
    &, // icon elem itself
		&::before, 
		&::after {
      width: 2.5rem;
      height: 0.2rem;
      background-color: darken(
        $color-primary-white,
        50%
      ); // actual hamburguer lines colour
      display: inline-block;
    }
    // defining the content property of the pseudo-classes
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.6rem;
    }
    &::after {
      top: 0.6rem;
    }
  }

  // animate hamburguer lines when button is on hover (space them out vertically)
  &__button:hover &__icon::before {
    top: -0.8rem;
  }
  &__button:hover &__icon::after {
    top: 0.8rem;
  }

  // label/navigation__button > checkbox:checked > select its sibling's child
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

// hide contact info
@media (min-width: 300px) and (max-width: 500px) {
  .navigation .col-1 {
    display: none;
  }
  .navigation__nav .col-2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      padding-left: 6rem;
      padding-right: 0;
    }
  }
}
// bring nav menu into view on mobile devices
@media (min-width: 501px) and (max-width: 1199px) {
  .navigation__contact {
    padding-left: 24rem;
  }
  .navigation__list {
    padding-right: 24rem;
  }
}
.navigation__list {
  @media (width: 568px) {
    padding-right: 30rem;

    .navigation__item {
      padding: 0.5rem 0;
      line-height: 2.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
// for consistency on iPhone 5s
@media (width: 568px) and (orientation: landscape) {
  .navigation__contact .contact-details,
  .navigation__contact .availability,
  .navigation__contact .credits {
    margin-top: 1.5rem;
  }
}
// for consistency on iPhone 4
@media (width: 320px) and (orientation: portrait) {
  .navigation__item {
    padding: 1rem 0;
    line-height: 3.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media (width: 480px) and (orientation: landscape) {
  .navigation__item {
    padding: 0.5rem 0;
    line-height: 2.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

