.row {
  @include clearfix;
}
.col-left {
  float: left;
}
.col-right {
  float: left;
  padding-top: 10rem; // 100px
}

// About section
.section-about {
  background-color: $color-primary-grey-dark;
  padding-bottom: 8rem;

  .row {

    .profile {
      background-color: $color-primary-grey-dark;
      float: left;
      top: -8rem;
      position: relative;
      width: 100%;
      height: 55rem;

      &__photo {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .btn--text {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
      }
    }
  }

  .container {
    margin: auto;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;

    @include clearfix;

    .col-left {
      // float: left;
      padding-right: 4rem;
    }
    .col-right {
      padding-left: 12rem;

      .skills-1 {
        float: left;
        padding-right: 5rem;
        height: 100%;
      }
    }
  }
}

// Work section
.section-work {
  padding: 12rem 0;

  .row {
    .wrapper {
      text-align: center;
      padding: 0;
      padding: 0 0 6rem;
      @include clearfix;

      .heading-secondary {
        display: inline;
        line-height: 8rem;
        margin-right: 4rem;
      }
      .btn--white {
        top: -0.7rem;
      }
    }
  }
}

// Footer section
.section-footer {
  height: 100vh;
  padding: 12rem 0 0;
  margin-bottom: 0;
  border-top: 0.1rem solid rgba($color-primary-grey-dark, 0.15);

  .heading-primary {
    .heading-primary--sub {
      font-size: 3.8rem;
    }
  }
  .btn--white {
    margin-bottom: 6rem;
  }
  .row {
    margin-bottom: 0;

    .wrapper {
      max-width: $grid-width; // variable
      text-align: center;
      // animation-name: move-in-down; // smooth animation (top to bottom)
      // animation-duration: 1.5s;
      // animation-timing-function: ease; //https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function
      // margin-bottom: 6rem;
    }
    .footer-block {
      position: relative;
      // height: 18.7rem;
      height: calc(100vh - 427px); // 427px => (120px of .section-footer padding + 307px of .row total height) 
      text-align: center;

      // Transparent Background
      background-image: linear-gradient(
          to right bottom,
          rgba(72, 116, 160, 0.808),
          rgba(41, 44, 48, 0.808)
        ),
        url(../img/my-photo.jpg); /* reference path from "main.css" */
      background-size: cover;
      background-position: top; // [center, bottom]

      &__text {
        color: darken($color-primary-grey, 25%);
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 10%;
      }
      &__logo {
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        display: inline-block;
        right: 10%;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        word-spacing: 0.2rem;
        font-weight: 900;

        &:link,
        &:visited {
          text-decoration: none;
          color: $color-primary-grey-light;
        }
      }
    }
  }
  .row:first-child {
    padding: 0 0 6rem;
    margin-bottom: 0;
  }
}
