.row {
  @include clearfix;
}
.col-left {
  float: left;
  // padding-right: 4rem;
}
.col-right {
  float: left;
  padding-top: 10rem; // 100px
  // padding-left: 10rem;
}

// About section
.section-about {
  background-color: $color-primary-grey-dark;
  padding-bottom: 8rem;
  // padding: 12rem 0;

  // margin-top: -13rem;

  .row {
    // @include clearfix;

    .profile {
      background-color: $color-primary-grey-dark;
      float: left;
      top: -8rem;
      position: relative;
      border: 2px solid blue;
      width: 100%;
      height: 50rem;

      &__photo {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .btn--text {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        border: 1px solid green;
      }
    }
  }

  .container {
    margin: auto;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;

    @include clearfix;

    .col-left {
      // float: left;
      padding-right: 4rem;
    }
    .col-right {
      padding-left: 12rem;

      .skills-1 {
        float: left;
        padding-right: 5rem;
        height: 100%;
        border: 1px solid green;
      }
    }
  }
}

// Work section
.section-work {
  padding: 12rem 0;

  .row {
    .wrapper {
      border: 2px dashed green;
      text-align: center;
      padding: 0;
      padding: 0 0 6rem;
      @include clearfix;

      .heading-secondary {
        line-height: 8rem;
        margin-right: 4rem;
      }
      .btn--white {
        top: -0.7rem;
      }
    }
  }
}

// Footer section
.section-footer {
  height: 100vh;
  padding: 12rem 0 0;
  border-top: 0.1rem solid rgba($color-primary-grey-dark, 0.15);

  .heading-primary {
    .heading-primary--sub {
      font-size: 3.8rem;
    }
  } 
  .btn--white {
    margin-bottom: 6rem;
  }
  .row {
    .footer-block {
      border: 1px solid green;
      position: relative;
      height: 18.7rem;
      text-align: center;
      bottom: 0vh;

      // Transparent Background
      background-image: linear-gradient(
        to right bottom, 
        rgba(72, 116, 160, 0.808), 
        rgba(41, 44, 48, 0.808)), 
      url(../img/my-photo.jpg); /* reference path from "main.css" */
      background-size: cover;
      background-position: top; // [center, bottom]
      
      &__text {
        color: darken($color-primary-grey, 25%);
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 10%;
      }
      &__logo {
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        display: inline-block;
        right: 10%;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        word-spacing: 0.2rem;
        font-weight: 900;

        &:link,
        &:visited {
          text-decoration: none;
          color: $color-primary-grey-light;
        }
      }
    }
  }
}
